@model Spice.Models.ViewModels.OrderDetailsCartViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<form method="post">
    @if (Model.ListShoppingCarts.Count() > 0)
    {
        <input id="userId" asp-for="@Model.ListShoppingCarts[0].ApplicationUserId" type="hidden" />
        <div class="search_background_white">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-white-50 row">
                        <div class="col-8">
                            <i class="fas fa-shopping-cart"></i> &nbsp;
                            @User.Identity.Name 's Shopping Cart
                        </div>
                        <div class="col-4 text-right">
                            <a class="btn btn-sm btn-success" asp-area="Customer" asp-controller="Home" asp-action="Index">
                                Add More Items
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="search_background_white">
            <p>Nothing had been added to your shopping cart</p>
        </div>
    }
</form>

