<p>Title: @movie.Title</p>
<p>Released Date: @movie.ReleaseDate.ToString("dd/MMM/yyyy")</p>
@if (buttonDisplay)
{
    <button @onclick="@(()=> DeleteMovie.InvokeAsync(movie))">Delete</button>
}

@code {
    [Parameter] public Movie movie { get; set; }
    [Parameter] public bool buttonDisplay { get; set; } = false;
    [Parameter] public EventCallback<Movie> DeleteMovie { get; set; }
}
