@model Category
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 class="text-info">@Model.Name Details</h1>
<main class="search_background_white">
    <div class="form-group row">
        <div class="col-3">
            <label asp-for="Name" class="col-form-label"></label>
        </div>
        <div class="col-5">
            <input readonly asp-for="Name" class="form-control"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <a asp-action="Index">Go Back</a>
        </div>
        <div class="col-5">
            <a class="btn btn-info btn-block" asp-action="Edit" asp-route-id="@Model.Id">Go to Edit</a>
        </div>
    </div>
</main>

