@model Spice.Models.ShoppingCart
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 class="text-info">Item @Model.MenuItem.Name Details</h1>
<main class="search_background_white row">
    <div class="col-8">
        <div class="form-group row">
            <div class="col-3">
                
            </div>
        </div>
    </div>
    <div class="col-4">

    </div>
</main>
