@model Spice.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<br />
<button class="btn btn-sm btn-primary displayCoup">Display Available Coupons</button>
<div class="border displayPossibleCoupon" style="display:none">
    @for (int i = 0; i < Model.Coupon.ToList().Count(); i++)
    {
        <div class="carousel-item">
            @{
                string string64 = Convert.ToBase64String(Model.Coupon.ToList()[i].CouponImage);
                var image = string.Format($"data:image/jpg;base64,{string64}");
            }

        </div>
        <br />
        <img src="@image" alt="Coupon Image" width="80%"/>
    }
</div>
<br /><br />
<main class="search_background_white">
    @foreach(var menuItem in Model.MenuItem)
    {
        <div class="row">
            <h3 class="text-success">
                @Html.DisplayFor(m => menuItem.Category.Name)
            </h3>
        </div>

        <div class="border rounded border-info" style="padding: 0.8rem;">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <img src="@menuItem.Image" alt="Food Image" width="90%" style="border: 1px solid black; border-radius: 1rem;" />
                </div>
                <div class="col-md-9 col-sm-12">
                    <p>@menuItem.Description</p>
                </div>
            </div>
        </div>
        
     <br /><br />
    }
</main>



@section Scripts{ 
    <script>
        const displayCoup = document.querySelector('.displayCoup');
        displayCoup.addEventListener("click", toggleCoupon);
        
        function toggleCoupon() {
            const couponContainer = document.querySelector('.displayPossibleCoupon');
            console.log(couponContainer.getAttribute("style"));
            if (couponContainer.getAttribute("style") == "display:none") {
                couponContainer.setAttribute("style", "display:block");
            } else {
                couponContainer.setAttribute("style", "display:none");
            }
        }
    </script>
} 